Screen {
    /*layers: textual-autocomplete;*/
    align-horizontal: center;
}

#search-box {
    width: 75%;
}

#lead-text {
    width: 100%;
    content-align: center middle;
    color: $secondary;
    text-style: bold;
    padding: 1 1 1 0;
}

#my-dropdown {
    width: 32;
    max-height: 6;
    /*border-left: wide magenta;*/
    /*scrollbar-color: red;*/
    /*background: darkgreen;*/
}

#my-dropdown .autocomplete--substring-match {
    color: $accent-lighten-2;
    text-style: bold;
}

/*#my-dropdown .autocomplete--highlight {*/
/*    background: $boost;*/
/*}*/

#info-text {
    padding: 1 8;
    color: $text;
    height: auto;
    width: 100%;
    text-align: center;
}

