Screen {
    layers: textual-autocomplete;
    align: center middle;
}

#lead-text {
    width: 100%;
    content-align: center middle;
    padding: 1 1 1 0;
}

#my-autocomplete {
    width: 32;
    max-height: 6;
    /*border-left: wide magenta;*/
    /*scrollbar-color: red;*/
    /*background: darkgreen;*/
}

#my-autocomplete .autocomplete--substring-match {
    color: $accent-lighten-2;
    text-style: bold;
}

/*#my-autocomplete .autocomplete--highlight {*/
/*    background: $boost;*/
/*}*/

#info-text {
    padding: 2 8;
    color: $accent-darken-1;
}

